nav.navbar.navbar-expand-md.navbar-light.bg-light.rouded.mb-3
    button.navbar-toggler(type="button" data-toogle='collapse' data-target='#navbarCollapse' aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
        ul(class="navbar-nav text-md-center nav-justified w-100")
            li(class="nav-item active")
                a(class="nav-link" href="/") Home
            li(class="nav-item")
                a(class="nav-link" href="/contatos") Amigos
            li(class="nav-item")
                a(class="nav-link" href="/usuarios") Usuários
            li(class="nav-item")
                a(class="nav-link" href="/email") Entrar em contato
            li(class="nav-item")
                a(class="nav-link" href="/") Usuário logado[sair]