extends ../layout

block content
    h1 Cadastro de Usuários
    hr
    br
    form(action="/usuarios/add", method="post")
        .form-group
            label(for="nome") Nome
            input(type="text", class="form-control", name="nome", id="nome", placeholder="Nome" autofocus)
        .form-group
            label(for="email") E-mail
            input(type="email", class="form-control", name="email", id="email", placeholder="Insira o e-mail")
        .form-group
            label(for="nome") Senha
            input(type="password", class="form-control", name="senha", id="senha", placeholder="Insira a senha")
        .form-group
            label(for="nome") Confirmar Senha
            input(type="password", class="form-control", name="confirmar_senha", id="re-senha", placeholder="Confirmar senha")
        button.btn.btn-success(type="submit") Salvar