extends ../layout

block content
    .jumbotron
        h1 Curso de Node JS
        p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat impedit officia maiores? Labore dignissimos, aliquid nisi pariatur deserunt nobis commodi aliquam at illum officiis ab maxime alias? Veritatis, aperiam exercitationem.
        p
            a.btn.btn-success.btn-lg(href="#" target="_blank") Bem vindo